<div class="sign-in">
  <div class="left">
    <div class="left-content">
      <h1 class="left-content__header">Just a few clicks <br>
        to create an account
      </h1>
      <img src="../../assets/images/svg/sign-in-hero.svg" alt="sign in hero image" class="left-content__hero">
    </div>
  </div>
  <div class="right">
    <div class="right-content">
      <h1 class="right-content__header-primary">Login</h1>
      <h4 class="right-content__header-secondary">Log in to your account</h4>
      <p class="right-content__text">
        Thank you for joining our awesome schedule app. <br> We hope that you will be satisfied
      </p>
      <form #f="ngForm" (ngSubmit)="onSignIn(f)" class="sign-in-form">
        <p class="sign-in-form__server-error" *ngIf="isError">{{errorMessage}}</p>
        <div class="sign-in-form__item">
          <label for="email">E-mail</label>
          <input type="text" id="email" name="email" placeholder="Enter your E-mail" required ngModel email
                 #email="ngModel"
                 (ngModelChange)="onChangeEmail()"
                 [classList]="inputClass">
          <p class="sign-in-form__input-error" *ngIf="!email.valid && email.touched">Invalid email</p>
        </div>
        <div class="sign-in-form__item">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel required minlength="8" #password="ngModel"
                 (ngModelChange)="onChangePassword()"
                 [classList]="inputClass"
                 placeholder="Enter your Password, at least 8 characters">
          <p class="sign-in-form__input-error" *ngIf="!password.valid && password.touched">Password is to short</p>
        </div>
        <button class="sign-in-form__forgot-password">Forgot password?</button>
        <button class="sign-in-form__submit" [disabled]="
        !email.valid && email.touched ||
        email.value.length === 0 ||
         !password.valid && password.touched ||
         password.value.length === 0
        ">Sign In
        </button>
        <div class="sign-in-form__create-new">
          <p>Don't have an account yet?</p>
          <a routerLink="/sign-up">Join us</a>
        </div>
      </form>
    </div>
  </div>
  <ng-template [ngIf]="isLoading">
    <app-spinner></app-spinner>
  </ng-template>

</div>
