@import "src/assets/variables";

.sign-in {
  width: 100%;
  height: 100vh;
  display: flex;
}



.left {
  width: 55%;
  background: $primary-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {

  display: flex;
  flex-direction: column;
  justify-content: start;
  &__header {
    font-size: 3.5rem;
    color: $color-light-primary;
    margin-left: 4rem;
    margin-bottom: 0;
  }

  &__hero {
    height: 50rem;
  }
}

.right {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  width: 80%;

  &__header-primary {
    font-size: 3.5rem;
  }

  &__header-secondary {
    font-size: $textLarge;
  }

  &__text {
    width: 90%;
  }

  .sign-in-form {
    width: 90%;

    &__server-error {
      color: $color-red-primary;
      text-align: center;
      font-weight: 600;

      margin-top: 3rem;
      margin-bottom: 0;

    }

    &__item {
     display: flex;
      flex-direction: column;

      label {
        font-size: $textMedium;
        margin: 1rem 0 .5rem 0;
      }

      input {
        padding: 1rem;
        border-radius: 1rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $color-light-secondary;
        }
      }
      &--red {
        border: 2px solid $color-red-primary;
      }

      &--blue {
        border: 2px solid $primary-blue;
      }
    }

    &__forgot-password {
      border: none;
      background: transparent;
      color: $primary-blue;
      display: inline-block;
      text-align: right;
      width: 100%;
      margin-top: 1rem;
    }

    &__submit {
      padding: 1rem;
      width: 100%;
      margin-top: 3rem;
      background: $primary-blue;
      color: $color-light-primary;
      border-radius: 1rem;
      border: 2px solid $primary-blue;
      font-size: $textMedium;
      transition: all .3s;

      &:hover {
        background: darken($primary-blue, 10);
        transform: scale(1.03);
      }

      &:focus {
        outline: none;
        transform: scale(1);
      }
    }

    &__create-new {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: $text-small;
      }

      a {
        font-size: $text-small;
        margin-left: .3rem;
        text-decoration: none;
        color: $primary-blue;
      }
    }
  }
}
