<div class="wrapper">
  <div class="buttons-wrapper">
    <div class="buttons-group">
      <button (click)="buttonClick('today')" class="buttons-group__button "
              [ngClass]="buttonsStyles[0]"
              routerLink="/dashboard/today">Today
      </button>
      <button (click)="buttonClick('thisWeek')" class="buttons-group__button" [ngClass]="buttonsStyles[1]"
              routerLink="/dashboard/this-week">This week
      </button>
      <button (click)="buttonClick('nextWeek')"
              [ngClass]="buttonsStyles[2]"
              class="buttons-group__button"
              routerLink="/dashboard/next-week">Next
        week
      </button>
    </div>
    <div class="add-event">
      <button class="add-event__button" (click)="onOpenBackDrop()">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <p>Add</p>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!--  <ng-template [ngIf]="isBackdropOpen">-->
  <!--    <app-backdrop></app-backdrop>-->
  <!--    <app-event-form></app-event-form>-->
  <!--  </ng-template>-->
  <div class="backdrop" *ngIf="isBackdropOpen" (click)="onCloseBackdrop()"></div>
  <div class="form-wrapper" *ngIf="isBackdropOpen">
    <form #f="ngForm" (ngSubmit)="onCreateEvent(f)" class="form">
      <div class="form__item">
        <input type="text" name="name" placeholder="Event name" required ngModel>
        <!--          <p>Please enter valid email</p>-->
      </div>

      <div class="form__item">
        <input type="date" name="date" ngModel required>
      </div>
      <div class="form__item">
        <input type="time" name="time" ngModel required>
      </div>
      <div class="form__item">
        <textarea type="text" name="description" ngModel required placeholder="Event description" rows="6"></textarea>
      </div>
      <button>Create</button>

    </form>
  </div>

</div>

