<div class="wrapper">
  <div class="buttons-wrapper">
    <div class="buttons-group">
      <button (click)="buttonClick('today')" class="buttons-group__button "
              [ngClass]="buttonsStyles[0]"
              routerLink="/dashboard/today">Today
      </button>
      <button (click)="buttonClick('thisWeek')" class="buttons-group__button" [ngClass]="buttonsStyles[1]"
              routerLink="/dashboard/this-week">This week
      </button>
      <button (click)="buttonClick('nextWeek')"
              [ngClass]="buttonsStyles[2]"
              class="buttons-group__button"
              routerLink="/dashboard/next-week">Next
        week
      </button>
    </div>
    <div class="add-event">
      <button class="add-event__button" (click)="onOpenBackDrop()">
        <span class="material-icons">add_circle_outline</span>
      </button>
      <p>Add</p>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <ng-template [ngIf]="isBackdropOpen">
    <app-backdrop></app-backdrop>
    <app-event-form [isEdit]="false"></app-event-form>
  </ng-template>
</div>
