@import "src/assets/variables";

.wrapper {
  padding: 3rem;
  width: 100%;
  height: 100vh;
  background: $color-light-tertiary;
}

.buttons-wrapper {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-group {

  width: 50%;

  //margin: 3rem auto 0 auto;
  background: $primary-blue;
  padding: 2.5px;
  border-radius: 1rem;

  &__button {
    width: 33.33%;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background: $primary-blue;
    color: $color-white;

    &:focus {
      outline: none;
    }


  }

  &__button--active {
    background: $color-white;
    color: $text-color-primary;
  }
}

.add-event {
  &__button {
    font-size: $text-small;
    color: $primary-blue;
    background: transparent;
    border: none;
  }
}

.content {
  height: 90%;
}
