<div class="wrapper">
  <h1 class="logo">Logo</h1>
  <div class="side-nav">
    <ul class="navigation">
      <li class="navigation__item">
        <a routerLink="/dashboard" routerLinkActive="navigation__item--active">Dashboard</a>
      </li>
      <li class="navigation__item">
        <a href="#">Calendar</a>
      </li>

    </ul>

    <ul class="navigation">
      <li class="navigation__item">
        <a href="#">Settings</a>
      </li>
      <li class="navigation__item">
        <a href="#">Profile</a>
      </li>
      <li class="navigation__item">
        <button (click)="onLogOut()">Log Out</button>
      </li>
    </ul>
  </div>
</div>


