<div class="wrapper">
  <div class="header">
    <div class="header__search-bar">
      <span class="material-icons">search</span>
      <input type="text" placeholder="Search">
    </div>
    <div class="header__avatar">
      <img src="assets/images/svg/avatar.svg" alt="avatar">
    </div>

  </div>
  <div class="card">
      <div class="card-header">
        <div class="card-header__avatar">
          <img src="assets/images/svg/avatar.svg" alt="avatar">
        </div>
        <h3 class="card-header__user-name">Issac Whitfield</h3>
        <button class="card-header__more">
          <span class="material-icons">more_horiz</span>
        </button>
      </div>
    <ul class="card-content">
      <li class="card-content__item">
        <span class="material-icons">call</span>
        <p>+48 123 456 789</p>
      </li>
      <li class="card-content__item">
        <span class="material-icons">email</span>
        <p>user@email.com</p>
      </li>
    </ul>
  </div>
</div>
