@import "src/assets/variables";

.wrapper {
  height: 100%;
  display: flex;

  &__left-content {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    width: 50%;
  }
  &__right-content {
    height: 100%;
    width: 50%;
    padding: 3rem;
    position: relative;
  }
}

.hours {
  width: 100%;
  &__hour {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    &:hover div{
      border-bottom-color: $primary-blue;
    }

    &:hover p {
      color: $primary-blue;
    }
  }

  &__hour-header {
    width: 15%;
    transition: all .3s;
    color: $color-light-secondary;
    font-size: $textExtraSmall;
  }

  &__event {
    border-bottom: 1px solid $color-light-secondary;
    width: 85%;
    margin: .5rem;
    transition: all .3s;
    height: 2rem;
  }


}

