<div class="wrapper">
  <div class="wrapper__left-content">
    <app-header-with-gold-corners text="Today" [date]="today"></app-header-with-gold-corners>
    <ul class="hours">
      <li class="hours__hour" *ngFor="let i of  hours">
        <p class="hours__hour-header">{{i.hour}}</p>
        <div class="hours__event">{{i.event.name}}</div>
      </li>
    </ul>
  </div>
  <div class="wrapper__right-content">

    <app-dashed-border-area text="Event" icon="touch_app"></app-dashed-border-area>
  </div>

</div>
