<div class="wrapper">
  <div class="wrapper__left-content">
<!--    <app-header-with-gold-corners text="Next week" [date]="firstDay + ' - ' + lastDay"></app-header-with-gold-corners>-->
    <ul class="days">
      <li class="days__day" *ngFor="let i of daysName">

        <div class="days__day-header">
          <h1>{{i}}</h1>
          <p>{{i}}</p>
        </div>
        <h3 class="days__event-info">4 events</h3>
        <span class="material-icons days__dots">more_horiz</span>
      </li>
    </ul>
  </div>
  <div class="wrapper__right-content">
    <app-dashed-border-area text="Day" icon="event"></app-dashed-border-area>
  </div>

</div>

