<div class="form-wrapper" [ngStyle]="formTitle === 'Delete' ? {height: '40%'} : {height: '60%'}">
  <h1 class="form-wrapper__header" ><span [ngClass]="headerClass">{{formTitle}}</span> Event</h1>
  <form #f="ngForm" (ngSubmit)="onAdd(f)" class="form">
    <ng-template [ngIf]="formTitle === 'Add' || formTitle ==='Edit'">
      <div class="form__item">
        <input type="text"  name="name" placeholder="Event name" required ngModel email>
        <!--          <p>Please enter valid email</p>-->
      </div>
      <div class="form__item">
        <input type="date" name="date" ngModel required>
      </div>
      <div class="form__item">
        <input type="time" name="time" ngModel required>
      </div>
    </ng-template>
    <ng-template [ngIf]="formTitle === 'Delete'">
      <p class="form__delete-info">
        Are you sure you want to delete this event?
      </p>
    </ng-template>

    <button [ngClass]="buttonClass">{{formTitle}}</button>

  </form>
</div>
