@import "../../../../assets/variables";
.day {
  width: 90%;
  margin: 0 auto;
  height: 80%;
  background: $color-white;
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  padding: 3rem;





}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 20%;

  &__name {
    font-size: 6rem;
    color: $color-light-secondary;
    width: 30%;
    margin: 0;
  }

  &__date {
    width: 70%;
    h3 {
      font-size: $textMedium;
      margin-bottom: .5rem;
      margin-top: 0;
      color: $primary-blue;
    }
    p {
      margin: 0;
    }
  }
}

.content {
  //margin-top: 3rem;
  height: 80%;
  overflow-y: scroll;
  &__header {
    font-size: $textLarge;
    font-weight: 400;
  }

  &__no-events {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto 0 auto;
    padding: 3rem;
    border: 1px dashed $color-light-secondary;
    background: $color-light-primary;

    p{
      font-size: $textLarge;
      font-weight: 600;
      color: $color-light-secondary;
    }

    span {
      color: $color-light-secondary;
      font-size: 8rem;
    }
  }
}

.assignments {
  list-style: none;
}

.assignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-light-primary;

  &__hour {
    margin: .5rem;
    font-size: $text-small;
    color: $color-light-secondary;
    width: 20%;
  }

  &__name {
    margin: .5rem;
    font-size: $text-small;
    background: $primary-blue;
    width: 50%;
    padding: .7rem;
    color: $color-white;
  }

  &__controls {
    width: 30%;
  }

  &__control {
    background: transparent;
    border: none;
    color: $text-color-primary;
    font-size: $textExtraSmall;
    margin: 0 .5rem;
  }

  &__control--delete {
    transition: all .3s;
      &:hover {
        color: $color-red-primary;
      }
  }

  &__control--edit {
    transition: all .3s;
    &:hover {
      color: $primary-blue;
    }

  }
}


