
  <div class="day">
    <div class="header">
      <h1 class="header__name">{{day}}</h1>
      <div class="header__date">
        <h3>{{activeDay.name}}</h3>
        <p>{{activeDay.date}}</p>
      </div>

    </div>
    <div class="content">
      <h2 class="content__header">Events of the day</h2>

      <ul class="assignments" *ngIf="activeDayEvents.length !==0">
<!--        Dynamic content-->
        <li class="assignment" *ngFor="let event of activeDayEvents">
          <p class="assignment__hour">{{event.hour}}</p>
          <p class="assignment__name">{{event.name}}</p>
          <div class="assignment__controls">
            <button class="assignment__control assignment__control--delete" (click)="onOpenDeleteForm()">
              <span class="material-icons">delete</span>
            </button>
            <button class="assignment__control assignment__control--edit" (click)="onOpenEditForm()">
              <span class="material-icons">border_color</span>
            </button>
          </div>
        </li>

<!--        End of dynamic content-->
      </ul>
      <div class="content__no-events" *ngIf="activeDayEvents.length === 0">
        <p *ngIf="activeDayEvents.length === 0">No events on that day</p>
        <span class="material-icons">report</span>
      </div>
    </div>
  </div>

