.dashboard {
  display: flex;

  &__side-nav-wrapper {
    width: 12.5%;
    //z-index: 10;
  }

  &__calendar-wrapper {
    width: 65%;
    z-index: 1;
  }


  &__user-data-wrapper {
    width: 22.5%;
    z-index: 1;
  }
}
