// Color variables
$primary-blue: #037EF3;
$text-color-primary: #333333;
$color-light-primary: #eeeeee;
$color-light-secondary: #9D9D9D;
$color-light-tertiary: #f5f5f5;
$color-white: #ffffff;


// Font sizes
$text-small: 1.4rem;
$textMedium: 1.6rem;
$textLarge: 1.8rem;
$textExtraLarge: 2rem;

