<div class="hero">
  <div class="navigation">
    <ul class="nav">
      <li class="nav__item">
        <a routerLink="/" class="nav__logo">Logo</a>
      </li>
      <li class="nav__item">
        <button class="button nav__sign-in">Sign in</button>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="left">
      <div class="content-left">
        <h1 class="content-left__header">
          Manage <br/> Your <span class="content-left__header--color">Tasks</span> Schedule
        </h1>
        <p class="content-left__text">
          Try our app for free and get rid of all your problems
        </p>
        <button class="button content-left__button">Start for free</button>
      </div>
    </div>
    <div class="right">
      <img src="assets/images/svg/heroImg.svg" alt="hero img" class="content-right__hero-img">
    </div>
  </div>
</div>
